/.bundle
/.sass-cache
/api/_build
/api/db
/api/deps
/api/*.ez
/api/erl_crash.dump
/api/config/dev.secret.exs
/api/config/prod.secret.exs
/log
/tmp
/node_modules
/public/assets
/public/static
/public/system
/public/uploads
/lib/ionicons/ionicons
.ruby-version
.ruby-gemset
.env
.env.coffee
npm-debug.log
mkmf.log
