doctype html
html
  head
    include ./_head.jade
  body
    #page
      != body
    #state(style="display: none" data-state=state)
    script(async=(env == 'production') src=jsPath type="text/javascript")
    include ./_facebook.jade
    include ./_yandex.jade
