doctype html
html
  head
    include ./_head.jade
  body
    #page
      != body
    #state
      != state
    script(async=(env == 'production') src=jsPath type="text/javascript")
    include ./_facebook.jade
