=password-input
  &_input-wrapper.m-password
    position: relative

  &_show-password
    position: absolute
    top: 0
    right: $margin
    display: flex
    align-items: center
    font-size: 20px
    cursor: pointer
    height: 100%

    &:before
      +ion-icon("eye-disabled")

    &.m-active:before
      +ion-icon("eye")

=popup-input
  background-color: $white-2
  padding: $margin
  width: 100%
  transition: all 0.2s ease


  &::placeholder
    color: $black

  &:focus
    background-color: $white
    &::placeholder
      color: $black
