=like-burst-item($size)
  position: absolute
  top: 0
  left: 0
  text-align: center
  width: $size
  height: $size

=like-subburst($size)
  +like-burst-item($size)
  background: $blue

  &:before, &:after
    +like-burst-item($size)
    content: ""
    background: $blue

  &:before
    transform: rotate(30deg)

  &:after
    transform: rotate(60deg)

  &.m-active
    &, &:before, &:after
      background: $blue-2

=like-burst($size)
  position: relative
  cursor: pointer
  margin: $size auto
  width: $size
  height: $size

  &-burst-1, &-burst-2
    +like-subburst($size)

  &-burst-2
    transform: rotate(15deg)

  &-content
    +like-burst-item($size)
    transition: transform 0.1s

    &:before
      +ion-icon("ios-heart-outline")
      font-size: 90px
      color: white
      line-height: $size + 10px

    &.m-active

      &:before
        +ion-icon("ios-heart")

  &:hover
    .rating_like-content
      transform: scale(1.2)
