=rating-meta
  &_meta
    display: flex
    position: absolute
    top: 0
    left: 0
    color: $white
    padding: 16px
    line-height: 20px
    width: 100%
    height: 50px
    z-index: 1

  &_icon
    margin-right: 5px
    line-height: 20px
    font-size: 20px
    margin-top: -2px

    @each $type, $icon in (likes, ios-heart), (comments, chatbubble), (views, eye)
      &.m-#{$type}:before
        +ion-icon($icon)

  &_text
    font-size: 12px
    text-transform: uppercase

  &_item
    display: flex
    margin-right: 20px

    &:last-of-type
      margin-right: 0
