=switch($color: $white, $width: auto)
  display: inline-flex
  &-tab
    padding: 0 15px
    height: 40px
    border: 2px solid $color
    color: $color
    font-family: $monospace
    font-weight: 600
    font-size: 12px
    flex: 2
    line-height: 36px
    text-align: center
    width: $width

    &.m-active
      background-color: $color
      color: invert($color)

    &:not(.m-active)
      cursor: pointer

  &-wrap
    display: flex
    justify-content: center
