=button
  font-size: 12px
  font-weight: 600
  cursor: pointer
  padding: 0 10px
  border-radius: $border-radius
  line-height: 34px
  height: 40px
  transition: all 0.3s ease
  text-transform: uppercase
  text-align: center
  color: $color-1
  border: 3px solid $color-1

  &:hover
    border-color: darken($color-1, 15%)
    background: darken($color-1, 15%)
    color: $white

.auth
  display: flex
  justify-content: space-between
  margin: 15px

  &_login
    +button
    flex: 1
    margin-right: 10px

  &_registration
    +button
    flex: 2

  &_user-profile-link
    display: flex
    align-items: center

    &:hover

      .auth_user-avatar
        border-color: $white

  &_user-avatar
    $avatar-size: 50px
    width: $avatar-size
    height: $avatar-size
    margin-right: 6px
    flex-shrink: 0
    border-radius: 50%
    box-sizing: content-box
    border: 2px solid rgba($white, 0)
    transition: border-color 0.1s ease

  &_user-name
    font-size: 14px
    color: $white
    line-height: 20px
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap

  &_logout
    color: $white
    text-decoration: underline
    font-size: 13px

    &:hover
      text-decoration: none
