$wrapper-margin: 3 * $margin

@keyframes increase-from-the-center
  0%
    transform: scale(0)
  90%
    transform: scale(1.05)
  100%
    transform: scale(1)

.auth-popup
  display: flex
  flex-flow: column nowrap
  padding: $wrapper-margin
  width: 320px
  animation: increase-from-the-center 0.25s ease-in-out

  &_title
    align-self: center
    font-family: $serif
    font-size: 25px
    color: $blue
    margin-bottom: 4 * $margin

  &_social-buttons
    display: flex
    justify-content: space-between
    flex-flow: row wrap

  &_social-button
    color: $white
    cursor: pointer
    padding: $margin
    border-radius: 10px
    text-align: center
    width: calc(50% - #{$margin / 2})
    text-transform: uppercase
    opacity: 0.9
    font-size: 14px

    &:first-of-type,
    &:nth-of-type(2)
      margin-bottom: $margin

    &:hover
      opacity: 1

    @each $type, $color in ("facebook", #3b5b98), ("vk", #6484ab), ("twitter", #55aded), ("google", #d54a35)
      &.m-#{$type}
        background: $color

  &_or
    position: relative
    padding: 30px 0
    width: 100%
    color: $white-3
    display: flex

    &:before,
    &:after
      content: ''
      width: 110px
      border-bottom: 1px solid $white-3
      position: relative
      top: -10px

    &:before
      margin-right: 2%
    &:after
      margin-left: 2%

  &_form
    display: flex
    flex-flow: column nowrap
    position: relative
    color: $black
    align-items: center

  &_input-wrapper
    position: relative
    width: 100%

  &_input
    background-color: $white-3
    border-radius: 10px 10px 0 0
    padding: $margin
    width: 100%

    &::placeholder
      color: $black

    &:focus
      background-color: $white

    &.m-password
      border-radius: 0 0 10px 10px
      padding-right: 3 * $margin

  &_show-password
    position: absolute
    top: 0
    right: $margin
    display: flex
    align-items: center
    font-size: 20px
    cursor: pointer
    height: 100%

    &:before
      +ion-icon("eye-disabled")

    &.m-active:before
      +ion-icon("eye")

  &_submit
    $size: 40px
    width: $size
    height: $size
    line-height: $size
    border-radius: $size / 2
    border: 2px solid rgba($white, 0.9)
    margin-top: $size / 2
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer
    font-size: $size / 2
    color: rgba($white, 0.9)

    &:before
      +ion-icon("android-arrow-forward")

    &:hover
      border-color: $blue
      color: $blue

  &_link
    color: $green-2
    margin-top: 15px
    font-size: 14px
    text-decoration: underline
    text-align: center
    cursor: pointer

    &:hover
      text-decoration: none
