.comment
  display: flex
  margin-bottom: 10px
  align-items: flex-start

  @media screen and (min-width: $small)
    margin-bottom: 30px


  &_userface
    border-radius: 30px
    width: 60px
    height: 60px
    flex-shrink: 0

  &_content
    padding: 5px 0 0 10px
    width: calc(100% - 60px)

  &_text
    white-space: pre-wrap
    word-wrap: break-word

  &_username
    font-family: $monospace
    font-size: 17px
    font-weight: 700
    color: $blue
    margin-right: 5px
    white-space: nowrap
    &:hover
      color: $green

  &_date
    font-size: 13px
    font-family: $monospace
    color: $black-3

  &_actions
    display: flex
    padding-top: 3px

  &_action

    &-link
      display: inline
      font-size: 13px
      margin-right: 10px
      cursor: pointer
      color: $black-3
      font-family: $monospace
      user-select: none

      &:hover
        color: $blue

    &.m-active
      width: 100%


  &:hover
    .comment_actions
      opacity: 1
