.comment-form
  display: flex
  border: 1px dashed $black-4
  padding: 10px


  @media screen and (min-width: $small)
    margin: 0 -10px

  &.m-answer
    margin-top: 10px

  &_placeholder
    width: 100%
    padding: 0 18px
    height: 60px
    z-index: 1
    text-align: center
    font-size: 16px
    background-color: $grey
    margin-left: 20px
    color: $black-3
    margin-left: calc(-100% + 175px)
    display: flex
    align-items: center

    &:hover
      visibility: hidden

    &.m-disabled
      visibility: hidden

    &-shortcut
      background-color: $grey-2
      box-shadow: 0 2px 0px $grey-3
      color: $black-3
      padding: 8px
      border-radius: 3px
      font-weight: bold

    @media screen and (max-width: $medium)
      display: none

  &_textarea:hover + &_placeholder
    visibility: hidden

  &_textarea:focus + &_placeholder
    visibility: hidden

  &_textarea
    margin-left: 20px
    font-size: 16px
    width: 100%
    background-color: $white
    min-height: 60px
    padding: 18px
    resize: none

  &_button
    padding: 0 10px
    display: flex
    justify-content: center
    align-items: center
    font-weight: 700
    flex-shrink: 0
    color: $black-3
    height: 60px
    align-self: flex-end

    &:not(.m-disabled)
      color: $blue
      cursor: pointer

      &:hover
        color: $green
