.comment
  display: flex
  margin-bottom: 30px

  &_userface
    width: 60px
    height: 60px
    border-radius: 30px

  &_content
    width: calc(100% - 60px)
    padding: 5px 0 0 10px

  &_text
    word-wrap: break-word
    white-space: pre-wrap

  &_username
    color: $blue
    font-weight: 600
    margin-right: 5px
    white-space: nowrap

  &_date
    font-weight: 600
    font-size: 14px
    color: $black-3

  &_textarea
    width: calc(100% - 60px)
    padding: 10px
    border-radius: $border-radius
    margin-left: 10px
    font-size: 16px
