.comment-form
  display: flex
  border: 1px dashed $black-4
  padding: 10px


  @media screen and (min-width: $small)
    width: calc(100% + 20px)
    margin: 0 -10px

  &.m-answer
    margin-top: 10px

  &_textarea
    font-size: 16px
    padding: 8px
    margin-left: 10px
    width: calc(100% - 60px)
    min-height: 60px
    resize: none

    &:focus
      background: $white

  &_button
    padding: 0 10px
    display: flex
    justify-content: center
    align-items: flex-end
    font-weight: 700
    flex-shrink: 0
    color: $black-3

    &:not(.m-disabled)
      color: $blue
      cursor: pointer

      &:hover
        color: $green
