.confirmation-popup
  display: flex
  flex-flow: column nowrap
  padding: 2 * $margin
  max-width: 800px

  &_text
    font-size: 24px
    font-family: $serif
    color: $white
    margin: 10px 0

  &_buttons
    display: flex
    flex-flow: row nowrap
    justify-content: center
    margin-top: 2 * $margin

  &_button

    &.m-accept
      +accept

    &.m-cancel
      +cancel
