.confirmation-popup
  display: flex
  flex-flow: column nowrap
  padding: 2 * $margin
  max-width: 800px

  &_text
    font-size: 24px
    font-family: $monospace
    color: $white
    margin: 10px 0

  &_buttons
    display: flex
    flex-flow: row nowrap
    margin-top: 2 * $margin

  &_button

    &.m-accept
      +accept
      background-color: $white
      color: $black

      &:hover
        background-color: $white
        color: $green

    &.m-cancel
      +cancel
