@import "~iconfonts/stylesheets/ionicons.scss"

@font-face
  font-family: 'Museo Cyr'
  src: url('../museo_cyrillic_500.eot')
  src: url('../museo_cyrillic_500.eot?#iefix') format('embedded-opentype'), url('../museo_cyrillic_500.woff') format('woff'), url('../museo_cyrillic_500.ttf') format('truetype')
  font-weight: normal
  font-style: normal


@font-face
    font-family: 'Raleway'
    src: url('../fonts/raleway-light.eot')
    src: url('../fonts/raleway-light.eot?#iefix') format('embedded-opentype'), url('../fonts/raleway-light.woff') format('woff'), url('../fonts/raleway-light.ttf') format('truetype')
    font-weight: 300
    font-style: normal


@font-face
    font-family: 'Raleway'
    src: url('../fonts/raleway-regular.eot')
    src: url('../fonts/raleway-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/raleway-regular.woff') format('woff'), url('../fonts/raleway-regular.ttf') format('truetype')
    font-weight: 400
    font-style: normal


@font-face
    font-family: 'Raleway'
    src: url('../fonts/raleway-medium.eot')
    src: url('../fonts/raleway-medium.eot?#iefix') format('embedded-opentype'), url('../fonts/raleway-medium.woff') format('woff'), url('../fonts/raleway-medium.ttf') format('truetype')
    font-weight: 600
    font-style: normal


@font-face
    font-family: 'Raleway'
    src: url('../fonts/raleway-semibold.eot')
    src: url('../fonts/raleway-semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/raleway-semibold.woff') format('woff'), url('../fonts/raleway-semibold.ttf') format('truetype')
    font-weight: 700
    font-style: normal
