@import "~iconfonts/stylesheets/ionicons.scss"

@font-face
  font-family: 'Lato'
  src: url('../fonts/lato-light.woff') format('woff')
  font-weight: 300
  font-style: normal


@font-face
  font-family: 'Lato'
  src: url('../fonts/lato-regular.woff') format('woff')
  font-weight: 400
  font-style: normal


@font-face
  font-family: 'Lato'
  src: url('../fonts/lato-bold.woff') format('woff')
  font-weight: 700
  font-style: normal
