*, *:before, *:after
  box-sizing: border-box
  border: 0
  margin: 0
  padding: 0

.g-hidden
  display: none

html, body
  width: 100%
  height: 100%
  position: relative
  font: normal normal 400 16px/1.5 $sans-serif
  background: white
  color: $black

a
  text-decoration: none

p
  word-wrap: break-word
  white-space: pre-wrap
  word-break: break-all
  margin: 0 0 20px 0
  &:last-of-type
    margin: 0

input, textarea, select
  outline: none
  border: 0
  background: none
  font: normal normal 400 16px/1.5 $sans-serif

.grid
  width: 1040px
  padding: 0 25px

  @media screen and (max-width: 1240px)
    width: 690px
    padding: 0 15px

  @media screen and (max-width: 710px)
    width: 320px
    padding: 10px

.site-main
  width: calc(100% - #{$header-width})
  min-height: 100%
  margin-left: $header-width
  padding: 40px 0
  display: flex
  justify-content: center
  background: $grey

  @media screen and (max-width: 910px)
    width: 100%
    margin-left: 0

  @media screen and (max-width: 710px)
    padding: 20px 0


.meta
  display: flex
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 50px
  color: $white
  line-height: 20px
  padding: 15px
  z-index: 1

  &_icon
    margin-right: 5px
    line-height: 20px

  &_text
    font-size: 12px
    text-transform: uppercase

  &_item
    display: flex
    margin-right: 20px

    &.like-counter .meta_icon
      font-size: 14px

    &.comments-counter .meta_icon
      font-size: 15px

    &:last-of-type
      margin-right: 0

.tags
  padding: 15px 0
  display: flex

  .tag
    display: block
    color: $black-2
    font-size: 13px
    margin-right: 10px

    &:before
      content: '#'

    &:last-of-type
      margin-right: 0

    &:hover
      color: $black-3

.image-select
  &_text
    display: none

  &:hover
    .image-select_text
      display: block

.accept, .cancel
  display: inline-block
  padding: 0 15px
  height: 40px
  text-transform: uppercase
  color: white
  text-align: center
  line-height: 40px
  border-radius: $border-radius

.accept
  background: $blue

.cancel
  background: $black-3
