.header
  &_logotype
    display: block
    font-weight: 700
    font-size: 42px
    color: white
    padding: 0 0 10px 0
    margin: 20px

  &_rating-button
    display: block
    cursor: pointer
    background: $white
    color: $color-1
    font-weight: 600
    margin: 15px
    border-radius: $border-radius
    line-height: 40px
    height: 40px
    text-align: center
    text-transform: uppercase

  &_rating-button-icon
    margin-right: 5px
