.header
  z-index: 3
  margin-left: (-$header-width)
  transition: margin 0.3s ease
  min-height: 440px

  &_menu-button
    width: 40px
    height: 40px
    background-color: $black
    display: flex
    justify-content: center
    align-items: center
    font-size: 24px
    color: $white
    border-radius: 25px
    cursor: pointer

    &-wrap
      position: absolute
      right: -60px
      top: 0px
      border-radius: 30px
      padding: 10px

      @media screen and (min-width: $small)
        padding: 0
        top: 10px

    @media screen and (min-width: $small)
      right: -65px
      width: 50px
      height: 50px
      font-size: 32px

    &:before
      +ion-icon("android-menu")

  &_content
    display: flex
    flex-flow: column nowrap
    width: 100%
    height: 100%
    background-color: $white

  &.m-active
    margin-left: 0

    .header_menu-button

      &:before
        +ion-icon("android-close")

  @media screen and (min-width: $big)
    margin-left: 0

    &_menu-button
      display: none

  &_logotype
    display: block
    padding: 10px 20px
    text-align: center
    position: relative
    flex-shrink: 0
    height: 60px
    background: #2880AE  url("../images/colour-logo.svg") center center
    background-color: #1C6991
    background-repeat: no-repeat
    background-size: 40% 40%

    @media screen and (min-width: $big)
      height: 80px
      background-size: 50% 50%


  &_rating-update-status
    font-size: 14px
    border-radius: $border-radius
    padding: 5px 10px
    color: $black-2
    position: fixed
    top: 5px
    right: 5px
    z-index: 4
    width: auto
    display: none

    &.m-done,
    &.m-saving
      background: rgba($green, 0.8)
      display: block

    &.m-done
      transition: opacity 0.3s ease 3s
      opacity: 0

    &.m-pending
      background: rgba($yellow, 0.8)
      display: block

  &_rating-button
    flex-shrink: 0
    +header-button
    background-color: #E666AC

    &:hover
      background-color: lighten(#E666AC, 10%)

    &.m-authorized
      background-color: #ED475E

      &:hover
        background-color: lighten(#ED475E, 10%)

  &_rating-button-icon
    margin-right: 5px

  &_rating-title
    // padding: 15px 15px 5px 15px
    font-family: $serif
    padding-bottom: 15px
    color: $black-2
    word-wrap: break-word

    &:not(:empty)::after
      content: ":"

  &_rating-items
    padding: 15px 15px 0 15px
    overflow-y: auto
    height: 100%

  &_rating-item
    display: flex
    background-color: $grey-2
    color: $black
    padding: 5px 10px
    margin: 8px 0
    border-radius: 2px
    line-height: 20px
    height: 30px
    transition: background 0.5s, transform 0.5s
    position: relative

    &.m-waypoint-enter
      background-color: $color-3

    &.m-edit
      cursor: move

      &:hover
        transform: scale(1.05)

    &.m-dragging
      // opacity: 0
      background: $grey-3
      color: transparent

    &-title
      font-size: 12px
      margin-right: 5px
      overflow: hidden
      width: 100%
      color: $black-2
      text-overflow: ellipsis
      white-space: nowrap
      text-decoration: none

    &-options
      font-size: 12px

  &_rating-publish-info
    width: 100%

  &_rating-actions
    display: flex

  &_publish-rating
    +header-button
    flex: 3

  &_delete-rating
    +delete-button
    margin: 15px 15px 15px 0
    flex: 1

  &_validation-errors
    display: block
    font-size: 12px
    padding: 15px 15px 0 15px

  &_validation-error
    &:before
      font-size: 24px
      display: none
      +ion-icon("ios-checkmark-empty")

    &.m-enter
      animation: enter 0.5s linear

    &.m-leave
      animation: leave 3s linear

      &:before
        display: inline-block
