.header
  &_logotype
    display: block
    font-size: 40px
    font-weight: 700
    color: white
    line-height: 60px
    text-align: center
    width: 240px
    height: 60px
    position: fixed
    background: $color-1

  &_rating-button
    display: block
    font-weight: 600
    background: $white
    color: $color-1
    cursor: pointer
    margin: 15px
    border-radius: $border-radius
    line-height: 40px
    text-align: center
    height: 40px
    text-transform: uppercase

  &_rating-button-icon
    margin-right: 5px

  &_rating-item
    display: flex
    background: $white-3
    color: $white
    cursor: move
    padding: 5px 10px
    margin: 5px 15px
    border-radius: 2px
    line-height: 20px
    height: 30px
    transition: transform 0.3s
    position: relative

    &:hover
      transform: scale(1.02)

    &.m-edit
      cursor: move
      &:hover
        transform: scale(1.1)
        
    &.m-dragging
      opacity: 0

  &_rating-item-title
    font-size: 12px
    margin-right: 5px
    overflow: hidden
    width: 100%
    text-overflow: ellipsis

  &_rating-item-options
    display: flex

  &_rating-item-up
    cursor: pointer
    margin-right: 5px
    &:before
      +ion-icon("arrow-up-c")

  &_rating-item-down
    cursor: pointer
    &:before
      +ion-icon("arrow-down-c")
