.layout
  min-height: 100%
  &_header
    position: fixed
    top: 0
    background: $color-1
    height: $header-height
    display: flex
    flex-flow: row nowrap
    z-index: 1

  &_body
    width: 960px
    margin: $header-height + 2 * $margin auto 0
