.layout
  min-height: 100%

  &_main
    display: flex
    justify-content: center
    background: $grey
    padding: 40px 0
    min-height: 100vh
    // width: calc(100% - #{$header-width})
    @media screen and (min-width: $medium)
      margin-left: $header-width

  &_header
    display: none
    position: fixed
    top: 0
    left: 0
    background: $color-2
    width: $header-width
    height: 100%

    @media screen and (min-width: $medium)
      display: block
