.layout
  min-height: 100%

  &_main
    display: flex
    justify-content: center
    background: $grey-2
    padding: 0
    min-height: 100vh

    @media screen and (min-width: $big)
      margin-left: $header-width

      &.m-without-header
        margin-left: 0

    &.m-header-expanded

      @media screen and (max-width: $big)

        position: relative
        z-index: 1
        overflow: fixed

        &:after
          content: ''
          top: 0
          left: 0
          position: fixed
          width: 100%
          height: 100%
          width: 100vw
          height: 100vh
          background-color: rgba($black, .8)
          animation: show 0.2s linear forwards
          z-index: 6

    // &.m-blured
    //   filter: blur(50px)


  &_footer
    padding: 15px

    @media screen and (min-width: $small)
      padding: 30px

    @media screen and (min-width: $medium)
      padding: 40px

    @media screen and (min-width: $big)
      margin-left: $header-width

  &_header
    position: fixed
    top: 0
    left: 0
    background: $white
    width: $header-width
    height: 100%

  &_loader
    position: fixed
    top: 0
    left: 0
    z-index: 3
    background: $white-2
    width: 100%
    height: 100%
    display: flex
    align-items: center
    justify-content: center

    &:after
      +ion-icon("load-c")
      animation: rotate 1s linear infinite
      color: $red
      font-size: 32px

  &_close
    position: fixed
    top: $margin
    right: $margin
    font-size: 40px
    color: $white-2
    cursor: pointer
    z-index: 101
    width: 60px
    height: 60px
    display: flex
    justify-content: center
    align-items: center

    &:before
      +ion-icon("android-close")

    &:hover
      color: $white

  &_title
    font-size: 24px
    font-family: $monospace
    color: $black
    padding: 16px
    font-weight: 700

    @media screen and (min-width: $small)
      font-size: 30px
      padding: 30px 0 0 0

    @media screen and (min-width: $medium)
      padding: 40px 0 0 0
