@import "mixins/ratings"
@import "mixins/likes"

=button
  display: inline-block
  font-weight: bold
  color: white
  cursor: pointer
  padding: 0 15px
  border-radius: $border-radius
  letter-spacing: -0.5px
  line-height: 40px
  text-align: center
  height: 40px
  transition: all 0.3s
  text-transform: uppercase

=accept
  +button
  background-color: $green
  &:hover
    background-color: darken($green, 5%)

=cancel
  +button
  background: none
  color: $black-3
  margin-left: 15px
  &:hover
    color: $black-2
