.site-nav
  background-color: $white
  flex-grow: 1

  &_icon
    display: inline-block
    margin-bottom: 2px
    line-height: 28px

    @media screen and (max-height: 650px)
      display: none

  &_text
    font-size: 15px
    font-weight: 700
    text-transform: uppercase
    letter-spacing: 1px
    color: $white
    font-family: $monospace

  &_item
    display: block
    color: $white
    padding: 10px 20px
    height: 65px
    text-align: center
    position: relative
    flex-shrink: 0
    transition: opacity 0.2s ease
    display: flex
    flex-flow: column
    align-items: center
    justify-content: center

    &:hover
      opacity: 0.8
      color: $white

    @media screen and (max-height: 650px)
      height: 50px

    @media screen and (max-height: 545px)
      height: 40px

    &:not(:first-of-type)
      font-size: 18px

    &:first-of-type
      .site-nav_icon
        &:before
          +ion-icon("disc")

    &:nth-of-type(2)
      .site-nav_icon
        &:before
          +ion-icon("play")

    &:nth-of-type(3)
      .site-nav_icon
        &:before
          +ion-icon("egg")


    &:nth-of-type(4)
      .site-nav_icon
        &:before
          +ion-icon("android-star")

    &:nth-of-type(5)
      .site-nav_icon
        &:before
          +ion-icon("android-favorite")

    &:nth-of-type(6)
      .site-nav_icon
        font-size: 24px
        &:before
          +ion-icon("ios-bolt")

    &.active
      &:before
        display: block

    &.m-search
      background-color: #ED475E
      .site-nav_icon
        &:before
          +ion-icon("search")
