.site-nav
  background-color: $white
  &_icon
    display: inline-block
    margin-bottom: 2px

  &_text
    font-size: 14px
    font-weight: 600
    text-transform: uppercase
    color: $white

  &_item
    display: block
    color: $white
    padding: 10px 20px
    height: 70px
    text-align: center
    position: relative
    flex-shrink: 0
    &:hover
      opacity: 0.8

    // &:before
    //   content: ''
    //   position: absolute
    //   top: 0
    //   left: -5px
    //   width: 5px
    //   height: 100%
    //   background: rgba($black, 0.5)
    //
    // &:hover
    //   &:before
    //     left: 0

    &:not(:first-of-type)
      font-size: 18px

    &:first-of-type
      .site-nav_icon
        &:before
          +ion-icon("disc")

    &:nth-of-type(2)
      .site-nav_icon
        &:before
          +ion-icon("play")

    &:nth-of-type(3)
      .site-nav_icon
        &:before
          +ion-icon("egg")


    &:nth-of-type(4)
      .site-nav_icon
        &:before
          +ion-icon("android-star")

    &:nth-of-type(5)
      .site-nav_icon
        &:before
          +ion-icon("android-favorite")

    &:nth-of-type(6)
      .site-nav_icon
        width: 10px
        height: 10px
        transform: rotate(45deg)
        background: $white

    &.active
      &:before
        display: block
