.pagination
  display: flex
  flex-flow: row nowrap
  list-style: none
  justify-content: center

  &_window
    display: flex
    flex-flow: row nowrap
    list-style: none

    &.m-left:after, &.m-right:before
      content: '...'

  &_link
    line-height: 26px
    min-width: 30px
    height: 30px
    margin: 0 3px
    font-family: $sans-serif
    font-weight: 600
    font-size: 18px
    color: $blue
    border-radius: 12px
    text-align: center
    border: 2px solid rgba(0, 0, 0, 0)

    &:hover
      color: $black

    &.m-active
      cursor: default
      color: $black
      border-color: $black
