.pagination
  display: flex
  flex-flow: row nowrap
  list-style: none
  justify-content: center
  position: relative
  margin-top: 20px

  &:not(:empty)
    border-top: 2px solid $grey-3

  &_window
    display: flex
    flex-flow: row nowrap
    list-style: none

    &.m-left:after, &.m-right:before
      content: '...'

  &_link
    line-height: 30px
    height: 30px
    font-family: $sans-serif
    font-weight: 700
    font-size: 16px
    color: $black-2
    text-align: center
    margin: 20px 5px 0 5px

    &.m-next, &.m-prev
      position: absolute
      top: 0
      font-size: 24px
      display: flex
      align-items: center
      justify-content: center
      margin-left: 0
      margin-right: 0

    &.m-next
      right: 0

      &:before
        +ion-icon("android-arrow-forward")

    &.m-prev
      left: 0
      &:before
        +ion-icon("android-arrow-back")

    &:hover
      color: $blue

    &.m-active
      cursor: default
      color: $blue
