.popups
  &_popup-wrapper
    position: fixed
    top: 0
    left: 0
    background-color: rgba($black, 0.85)
    width: 100%
    height: 100%
    z-index: 10

    &:empty
      display: none

  &_popup
    position: absolute
    top: 0
    left: 0
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    height: 100%

    &.m-enter
      animation: increase-from-the-center 0.25s ease-in-out

    &.m-leave
      animation: increase-from-the-center 0.25s ease-in-out reverse

  &_close
    position: fixed
    top: 3 * $margin
    right: 3 * $margin
    font-size: 40px
    color: $white-2
    cursor: pointer
    z-index: 11

    &:before
      +ion-icon("android-close")

    &:hover
      color: $white
