.previews
  display: flex
  flex-flow: row wrap

  @media screen and (min-width: $small)
    margin: -15px -15px 0 -15px

.preview
  +rating-meta
  position: relative
  margin: 10px
  border-radius: 5px
  width: 300px
  height: 400px

  @media screen and (min-width: $small)
    margin: 15px

  &_meta
    opacity: 0
    transition: opacity 0.1s ease

  &_tags
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    height: 50px

  &_image
    position: relative
    background-size: cover
    border-radius: 5px
    overflow: hidden
    width: 100%
    height: 200px

    &:after
      content: ''
      position: absolute
      top: 0
      left: 0
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%)
      opacity: 0
      width: 100%
      height: 40%
      transition: all 0.1s ease

  &_section-name
    display: block
    font-size: 15px
    font-weight: 600
    color: $red
    margin: 25px 0 15px 0
    text-transform: uppercase

    &:after
      content: ":"

    &:hover
      color: $red-2

  &_title
    display: block
    position: relative
    font: 20px $serif
    color: $black
    height: 104px
    white-space: pre-wrap
    word-wrap: break-word

    &:after
      content: ""
      position: absolute
      bottom: 0
      left: 0
      background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, #fafafa 100%)
      width: 100%
      height: 40%

    &:hover
      color: $black-2

  &:hover
    .preview_meta
      opacity: 1

    .preview_image
      &:after
        opacity: 1

  &.m-super-large
    @media screen and (min-width: $small)
      width: 630px

      .preview
        &_meta
          justify-content: center

        &_image
          background: url(http://lorempixel.com/630/400)
          height: 100%

          &:after
            content: ''
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.2) 100%)
            height: 100%

        &_section-name
          position: absolute
          top: 150px
          padding: 0 30px
          text-align: center
          width: 100%

        &_title
          position: absolute
          top: 210px
          font-size: 36px
          font-weight: 700
          color: $white
          padding: 0 30px
          text-align: center
          width: 100%


        &_tags
          justify-content: center

          &_tag
            color: $white-2

            &:hover
              color: $white-3

  &.m-large

    @media screen and (min-width: $big)
      width: 465px

      .preview
        &_image
          background: url(http://lorempixel.com/465/300)
          height: 230px
