.rating-preview
  position: relative
  width: 300px
  height: 400px

  &_infos
    position: absolute
    top: 2 * $margin
    left: 2 * $margin
    color: white

  &_info
    margin-left: 2 * $margin

  &_section
    color: #ED6245
    text-transform: uppercase

  &_tags
    position: absolute
    bottom: 0

  &_tag
    font-size: 12px
    color: #585858
    margin-left: $margin

    &:first-of-type
      margin-left: 0
