@keyframes prompt
  100%
    opacity: 1
    margin-right: 0



.rating
  +rating-meta
  background: white
  width: 100%
  max-width: 960px

  @media screen and (min-width: $small)
    margin-bottom: 30px

  @media screen and (min-width: $medium)
    margin-bottom:  40px


  // a
  //   color: $blue
  //
  //   &:hover
  //     color: $green

  &_header
    display: flex
    align-items: center
    justify-content: space-between
    flex-flow: column nowrap
    position: relative
    background-color: $black
    width: 100%
    padding: 15px
    min-height: 360px

    @media screen and (min-width: $small)
      padding: 20px

    @media screen and (min-width: $small)
      padding: 40px

    &.m-with-image
      &:after
        content: ''
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background-color: $black-3

    @media screen and (min-width: $medium)
      min-height: 500px
      height: auto

    &:hover
      .rating_cover:after
        opacity: 1

    &-center
      width: 100%

  &_cover
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
    background-position: center center
    background-repeat: no-repeat
    background-size: cover

    &:after
      content: ''
      opacity: 0
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background: $black-3
      transition: opacity 0.2s

  &_center
    z-index: 1

  &_line
    position: relative
    margin: 0 auto 30px auto
    border-bottom: 1px solid $black-3
    width: 60%

    &:after
      content: ''
      display: block
      position: absolute
      top: 5px
      left: -10px
      border-bottom: 1px solid $black-3
      width: 100%

  &_new-item-button
    display: inline-flex
    flex-flow: column nowrap
    align-items: center
    line-height: 40px
    cursor: pointer

    &-wrapper
      display: flex
      justify-content: center
      padding-top: 40px
      border-bottom: 1px solid $grey-2

    &-icon
      font-size: 40px
      width: 50px
      height: 50px
      border: 1px solid $black-2
      border-radius: 25px
      display: flex
      justify-content: center
      align-items: center
      color: $black-2
      line-height: inherit
      transition: margin 0.2s ease, color 0.2s ease, transform 0.2s ease

      &:before
        line-height: inherit
        +ion-icon("ios-plus-empty")

    &-text
      color: $black-2
      line-height: inherit
      font-size: 12px
      opacity: 0
      transition: margin 0.2s ease, opacity 0.2s ease

    &:hover
      .rating
        &_new-item-button-icon
          transform: scale(0.8)
          margin-top: -10px

        &_new-item-button-text
          opacity: 1
          margin-top: -10px
          margin-bottom: 20px

  &_like
    position: relative
    cursor: pointer

    &-wrapper
      display: flex
      align-items: center
      justify-content: center
      padding: 20px 0 30px 0

      @media screen and (min-width: $medium)
        padding: 40px 0 60px 0

    &-icon
      display: flex
      justify-content: center
      align-items: center

      &:before
        +ion-icon("ios-heart-outline")
        font-size: 90px
        color: $black-2

      &.m-active
        animation: heart-beat 0.5s ease-out

        &:before
          +ion-icon("ios-heart")
          color: $red

    &-content
      position: absolute
      width: 100%
      height: 100%
      left: 0
      top: 0
      font-size: 20px
      font-weight: 700
      text-align: center
      color: $black-2
      display: flex
      justify-content: center
      align-items: center
      font-family: $monospace

      &.m-active
        color: $white

  &_meta
    justify-content: center


  &_title
    font-family: $monospace
    font-size: 24px
    color: $white
    padding: 0 16px
    line-height: 1.2
    overflow: hidden
    width: 100%
    text-align: center
    +word-break

    &-wrapper
      display: flex
      position: relative
      width: 100%
      z-index: 1

    &.m-edit
      resize: none
      cursor: pointer

      &::placeholder
        color: $white
        transition: color 0.1s

      &:focus::placeholder
        color: $white-3

    @media screen and (min-width: $small)
      padding: 0 20px
      font-size: 32px

    @media screen and (min-width: $medium)
      padding: 0 40px
      font-size: 40px

  &_section-name
    display: block
    font-size: 12px
    font-weight: 700
    letter-spacing: 1px
    text-transform: uppercase
    cursor: pointer
    z-index: 2

    &-wrapper
      width: 100%
      display: flex
      justify-content: center
      z-index: 2
      margin: 20px 0

    &::after
      content: ":"
      transition: margin 0.2s ease
      margin-top: -2px

    &:hover
      &::after
        font-size: 14px
        margin-left: 10px
        +ion-icon("chevron-right")

  &_tags
    width: 100%
    text-align: center
    z-index: 1

  &_tag
    color: $white-2

  &_tags-select
    display: flex
    justify-content: center
    z-index: 1

  &_description-wrapper
    padding: 16px
    width: 100%
    position: relative

    @media screen and (min-width: $small)
      padding: 20px

    @media screen and (min-width: $medium)
      padding: 40px 40px 60px

      &.m-bottom
        padding: 20px 40px 40px

  &_description
    +word-break
    +rating-editor-content
    font-size: 16px
    width: 100%
    min-height: 80px
    color: $black-2
    white-space: pre-line
    transition: color 0.2s ease
    cursor: pointer

    &.m-edit
      resize: none

    &::after
      font-style: normal
      color: $black

    &:focus

      &::after
        color: $black-3

      // + .prompt
        animation: prompt 0.2s linear forwards

    @media screen and (min-width: $small)
      font-size: 20px

  .prompt
    position: absolute
    top: 40px
    right: 40px
    background-color: $black
    color: $white
    padding: 10px 15px
    opacity: 0
    margin-right: -100px
    font-family: $monospace
    font-size: 12px

    &::before
      content: ''
      display: block
      position: absolute
      top: 13px
      left: -12px
      width: 0
      height: 0
      border-style: solid
      border-width: 10px 12px 10px 0
      border-color: transparent $black transparent transparent



  &_author
    font-family: $monospace
    font-size: 13px
    font-weight: 700
    color: $blue
    text-align: center
    text-transform: uppercase

    &:before
      content: 'Автор:'
      color: $black-3
      margin-right: 5px
      text-transform: uppercase

    &-wrap
      width: 100%
      display: flex
      justify-content: center
      padding-bottom: 20px

  &_share
    display: flex
    justify-content: center
    flex-flow: row nowrap
    padding: 0 3 * $margin 3 * $margin 3 * $margin

    &-icon
      font-size: 30px
      background: white
      border-radius: $border-radius
      line-height: 40px
      text-align: center
      width: 40px
      height: 40px

    &-text
      font-size: 20px
      color: white
      line-height: 40px
      text-align: center
      width: calc(100% - 40px)

    &-button
      display: flex
      cursor: pointer
      padding: $margin
      margin: 0 2px
      border-radius: 2 * $border-radius
      width: 100%
      height: 60px

      &.m-vk
        .rating_share-icon
          background:  url("../images/vk.svg") center center
          background-repeat: no-repeat
          background-size: contain
          background-color: $white

      @each $type, $icon, $color in (facebook, social-facebook, #3b5b98), (vk, social-vk, #5d80a6), (google, social-googleplus, #d54a35), (twitter social-twitter #55acee)
        &.m-#{$type}
          background: $color

          &:hover
            background: rgba($color, 0.8)

          .rating_share
            &-icon
              color: $color

              &:before
                +ion-icon($icon)

  &_drop-area
    display: none
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba($black, 0.85)
    z-index: 3
    flex-flow: column
    justify-content: center
    align-items: center

    &-text
      font-family: $monospace
      color: $white

    &-icon
      position: relative
      margin-bottom: 40px

      &:before
        display: block
        content: ''
        width: 20px
        height: 20px
        // background-color: $white
        border: 2px dashed $white

      &:after
        position: absolute
        top: 5px
        left: 5px
        content: ''
        width: 24px
        height: 24px
        background-color: $white
        border: 2px solid $black

  &_add-image
    +add-image
    z-index: 4

    &:hover
      & + .rating_drop-area
        display: flex

    &-wrap
      width: 100%
      display: flex
      justify-content: center




  &_share
    display: flex !important
    justify-content: center

  &_source
    +rating-editor-content
    white-space: pre-wrap

  &_add-item
    display: flex
    justify-content: center
    align-items: center
    position: absolute
    top: -35px
    left: 0
    background-color: $grey-2
    color: $black
    width: 100%
    height: 70px
    overflow: hidden
    opacity: 0
    transition: opacity 0.1s ease

    &:hover
      opacity: 1
      transition: opacity 0.2s ease

    &-icon
      font-size: 24px
      color: $black
      margin-right: 10px
      margin-top: -5px

      &:before
        +ion-icon("ios-plus-outline")
        line-height: inherit

    &-text
      color: $black
      font-size: 12px

    &-wrap
      display: flex
      align-items: center
      justify-content: center
      position: relative
      cursor: pointer
      width: 100%
      height: 0
      z-index: 1

  &_statusbar
    width: 100%
    position: fixed
    bottom: 0
    right: 0
    background-color: $black-3
    display: flex
    justify-content: flex-end
    padding: 16px
    z-index: 1

    @media screen and (min-width: $small)
      padding: 10px 20px

    @media screen and (min-width: $medium)
      padding: 10px 40px

    &-buttons
      display: flex
      height: 100%
      align-items: center
      margin: 0 -10px

    &-link
      color: $white-2
      margin: 0 10px
      font-family: $monospace
      font-size: 14px

      &:hover
        color: $white

    &-button
      +button(40px)
      background-color: $white
      color: $black
      margin: 0 10px

      &:hover
        color: $blue

    &-more
      position: relative

      &-icon
        &:before
          +ion-icon("arrow-down")

      &-content
        display: none
        position: absolute
        bottom: 0
        right: 0
        width: 200px
        height: 100px
        background-color: red

      &:hover
        .rating_statusbar-more-content
          display: block
