.rating
  +rating-meta
  width: 100%
  border: 1px solid #f2f2f2
  background: white
  border-radius: $border-radius

  &_header
    position: relative
    height: 500px
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    background-position: center center
    background-repeat: no-repeat
    background-size: cover
    background-color: $blue
    flex-flow: column wrap
    border-radius: $border-radius $border-radius 0 0

    .image-selector
      position: absolute
      top: 20px
      left: 20px

  &_line
    width: 60%
    border-bottom: 1px solid $black-3
    margin: 0 auto 30px auto
    position: relative

    &:after
      position: absolute
      content: ''
      display: block
      width: 100%
      border-bottom: 1px solid $black-3
      top: 5px
      left: -10px

  .rating-like
    +like-burst(120px)

  &_title-wrapper
    width: 90%
    position: absolute
    top: 200px
    left: 5%

  &_title
    width: 100%
    color: $white
    font-size: 60px
    font-weight: 400
    text-align: center
    line-height: 1.2
    font-family: $serif
    margin: 0
    word-break: break-word

    &.edit
      resize: none
      height: 220px
      // overflow: hidden

  &_title-buttons
    display: flex
    justify-content: flex-end

  &_title-button

    &.accept
      +accept
      background-color: $white
      color: $green
      border: 2px solid rgba($white, 0)
      line-height: 36px

      &:hover
        background-color: $green
        color: $white
        border-color: $white

    &.cancel
      +cancel


  &_section-name
    display: block
    font-size: 15px
    text-transform: uppercase
    color: $red
    font-weight: 600
    margin: 25px 0 15px 0

    &:after
      content: ":"

    &:hover
      color: $red-2

  &_meta
    top: 30px
    justify-content: center

  &_tags
    width: 70%
    margin: 0 auto
    justify-content: center
    height: 40px

  &_description-wrapper
    width: 100%
    padding: 0 15%

  &_description
    font-style: italic
    font-size: 20px
    font-weight: 600
    text-align: center
    margin: 0 auto
    padding-top: 30px
    width: 100%

    &.edit
      min-height: 120px

  &_description-buttons
    padding-top: 15px
    width: 100%
    display: flex
    justify-content: flex-end

  &_description-button

    &.accept
      +accept

    &.cancel
      +cancel

  &_author
    display: block
    font-size: 12px
    font-weight: 600
    text-transform: uppercase
    color: $blue
    text-align: center
    width: 60%
    margin: 0 auto
    padding-bottom: 20px

    &:before
      content: 'Автор:'
      text-transform: uppercase
      color: $black-3
      margin-right: 5px

  .rating-point
    padding: 30px 60px

    &_title
      color: $blue
      font: 20px $serif
      font-weight: 700
      text-align: center
      margin-bottom: 25px

    &_cover
      width: 100%
      height: auto

      img
        width: 100%

    &_description
      margin: 15px 0

    &_actions
      display: flex
      justify-content: center
      padding: 15px 0
      font-size: 20px

    &_minus, &_plus
      width: 30px
      height: 30px
      border-radius: 15px
      line-height: 30px
      text-align: center
      color: white
      box-shadow: 1px 2px 2px rgba($black, 0.15)
      cursor: pointer

    &_mark
      margin: 0 10px
      color: $black
      font-family: $serif
      font-weight: 700
      letter-spacing: 1px

    &_minus
      background: $red

    &_plus
      background: $green

  &_share
    display: flex
    flex-flow: row nowrap
    justify-content: center
    padding: 0 3 * $margin 3 * $margin 3 * $margin

    &-icon
      width: 40px
      height: 40px
      line-height: 40px
      font-size: 30px
      text-align: center
      border-radius: $border-radius
      background: white

    &-text
      width: calc(100% - 40px)
      text-align: center
      line-height: 40px
      color: white
      font-size: 20px

    &-button
      display: flex
      cursor: pointer
      border-radius: 2 * $border-radius
      margin: 0 2px
      padding: $margin
      width: 100%
      height: 60px

      &:last-of-type
        margin: 0

      @each $type, $icon, $color in (facebook, social-facebook, #3b5b98), (google, social-googleplus, #d54a35), (twitter social-twitter #55acee)
        &.m-#{$type}
          background: $color

          &:hover
            background: rgba($color, 0.8)

          .rating_share
            &-icon
              color: $color

              &:before
                +ion-icon($icon)
