.rating-item
  padding: 20px
  border-top: 1px solid #f2f2f2
  border-bottom: 1px solid #f2f2f2
  margin-top: -1px
  position: relative

  @media screen and (min-width: $medium)
    padding: 30px 40px

  &_header
    font: 24px $serif
    font-weight: 700
    color: $color-1
    margin-bottom: 20px
    text-align: center
    display: flex
    justify-content: center
    position: relative

    @media screen and (min-width: $small)
      padding: 0 40px

  &_number
    position: absolute
    top: 0
    left: 0

    &:before
      content: '#'

  &_title
    width: 100%
    height: 80px
    text-align: center
    +word-break

    &.m-edit
      overflow: hidden
      resize: none

    &::placeholder
      color: $black-2

    &:focus::placeholder
      color: $black-3

    &-wrapper
      width: 100%

    &-buttons
      display: flex
      justify-content: flex-end

    &-button
      &.m-accept
        +accept

      &.m-cancel
        +alt-cancel

  &_add-image
    +add-image
    position: relative
    color: $black-3
    width: 40px
    height: 40px
    border: 1px solid $black-3
    border-radius: 20px

  &_cover
    position: relative

    &-wrap
      display: flex
      justify-content: center
      overflow: hidden

      @media screen and (min-width: $medium)
        padding: 20px 0

    &-image
      display: none
      margin: 0 auto
      max-width: 100%

    &.m-with-image
      width: 100%

      .rating-item
        &_cover-image
          display: block

        &_add-image
          width: 100%
          height: 100%
          position: absolute
          top: 0
          left: 0
          background-color: $color-3
          opacity: 0
          transform: scale(0)
          color: $white
          font-size: 48px

        &_remove-image
          +remove-image
          position: absolute
          top: 20px
          right: 20px
          margin-right: -60px
          transition: margin 0.2s ease, opacity 0.2s ease
          opacity: 0

      &:hover
        .rating-item
          &_add-image
            transform: scale(1)
            opacity: 1

          &_remove-image
            margin-right: 0
            opacity: 1

  &_description
    margin: 15px 0
    width: 100%
    white-space: pre-wrap

    &.m-edit
      resize: none

    &::placeholder
      color: $black-2

    &:focus::placeholder
      color: $black-3

    &-buttons
      display: flex
      justify-content: flex-end

    &-button
      &.m-accept
        +accept
      &.m-cancel
        +alt-cancel

  &_actions
    display: flex
    justify-content: center
    font-size: 20px

    @media screen and (min-width: $small)
      padding: 15px 0

  &_button
    display: flex
    align-items: center
    justify-content: center
    flex-flow: row nowrap
    box-shadow: 1px 2px 2px rgba($black, 0.15)
    color: white
    cursor: pointer
    border-radius: 15px
    line-height: 32px
    width: 30px
    height: 30px
    visibility: hidden

    &.m-down
      background: $red

      &:before
        +ion-icon("android-remove")

      &.m-active
        background: $red-2
        cursor: default

    &.m-up
      background: $green

      &:before
        +ion-icon("android-add")

      &.m-active
        background: $green-2
        cursor: default

  &_mark
    font-family: $serif
    font-weight: 700
    color: $black
    margin: 0 10px
    letter-spacing: 1px
    min-width: 20px
    text-align: center
    position: relative

    &:before
      +ion-icon("stats-bars")
      position: absolute
      top: 0
      left: -30px
      font-size: 28px
      line-height: 30px
      color: $green

  &_remove
    color: $black-3
    position: absolute
    font-size: 36px
    top: 31px
    right: 30px
    width: 30px
    height: 30px
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer
    margin-left: -60px
    transition: margin 0.2s ease, opacity 0.2s ease
    opacity: 0

    &:before
      +ion-icon("ios-close-outline")

  &_add-item
    display: flex
    flex-flow: column nowrap
    align-items: center
    justify-content: center
    position: absolute
    left: 0
    background: $white
    cursor: pointer
    width: 100%
    height: 70px
    opacity: 0
    z-index: 1
    transition: opacity 0.2s ease

    &:hover
      opacity: 1

    &.m-top
      top: -35px

    &.m-bottom
      bottom: -35px

  &:hover
    .rating-item
      &_remove
        margin-left: 0
        opacity: 1

      &_button
        visibility: visible

      &_mark:before
        visibility: hidden

  &:nth-of-type(n+2)
    .rating-item_add-item.m-top
      display: none

  &:last-of-type
    .rating-item_add-item.m-bottom
      display: none
