.rating-statusbar
  background-color: $black-2
  display: flex
  flex-flow: row wrap
  justify-content: flex-end
  z-index: 1
  padding: 10px

  @media screen and (min-width: $small)
    flex-flow: row nowrap

  @media screen and (min-width: $medium)
    justify-content: space-between

  &_wrap
    width: 100%
    position: fixed
    bottom: 0
    right: 0
    display: flex
    justify-content: center

    @media screen and (min-width: $big)
      padding-left: $header-width

      &.m-without-header
        padding-left: 0

  &_buttons
    display: flex
    justify-content: space-between
    width: 100%

    @media screen and (max-width: $small)
      height: 50px

    @media screen and (min-width: $small)
      width: 300px
      margin-left: 10px


  &_link
    cursor: pointer
    border-bottom: 1px dashed $white

  &_publish-button
    +button(25px)
    background-color: $green
    padding: 0 5px

    &.m-disabled
      background-color: $grey-3
      cursor: default
      pointer-events: none
      color: $black

  &_delete-rating
    color: $red-2
    border: 1px solid
    cursor: pointer
    width: 50px
    display: flex
    justify-content: center
    font-size: 30px
    flex-shrink: 0
    &:hover
      color: $red

  &_save-button
    +button(auto)
    background-color: $white
    color: $black
    z-index: 1
    width: 100%
    background-repeat: repeat-x
    background-size: 100% 15%
    line-height: 50px
    background-position: 0 t10
    background-image: linear-gradient(135deg, rgba(252,181,64,1) 10%, rgba(253,222,100,1) 20%, rgba(63,221,143,1) 30%, rgba(39,209,222,1) 40%, rgba(41,172,204,1) 50%, rgba(38,109,157,1) 60%, rgba(218,78,153,1) 70%, rgba(226,48,78,1) 80%, rgba(238,90,66,1) 90%, rgba(252,181,64,1) 100%)

    &.m-disabled
      background-color: $grey
      cursor: default
      pointer-events: none

    &.m-pending, &.m-saving
      animation: save-button-loader 1s linear infinite




    @media screen and (min-width: $small)
      width: 175px
