.rating-item
  padding: 20px
  border-top: 1px dashed $grey-3
  border-bottom: 1px dashed $grey-3
  margin-top: -1px
  position: relative
  transition: transform 0.2s ease
  background-color: $white

  @media screen and (min-width: $medium)
    padding: 30px 40px

  &.m-shift-top
    transform: translateY(-35px)

  &.m-shift-bottom
    transform: translateY(35px)

  &_header
    font-size: 18px
    line-height: 1.35
    font-family: $monospace
    font-weight: 700
    color: $color-1
    margin-bottom: 20px
    display: flex
    justify-content: center
    position: relative
    padding: 0 40px

    @media screen and (min-width: $small)
      padding: 0 60px
      font-size: 24px
      text-align: center

  &_number
    position: absolute
    top: 0
    left: 0
    font-size: inherit
    line-height: inherit

    &:before
      content: '#'

  &_title
    width: 100%
    font-size: inherit
    line-height: inherit
    +word-break

    &.m-edit
      overflow: hidden
      resize: none
      cursor: pointer

    &::placeholder
      color: $color-1

    &:focus::placeholder
      color: $color-3

    &-wrapper
      width: 100%

    &-buttons
      display: flex
      justify-content: flex-end

    &-button
      &.m-accept
        +accept

      &.m-cancel
        +alt-cancel

  &_add-image
    +add-image
    position: relative
    color: $black-3
    width: 40px
    height: 40px
    border: 1px solid $black-3
    border-radius: 20px

  &_cover
    position: relative
    width: 100%

    &-wrap
      display: flex
      justify-content: center
      width: 100%

      @media screen and (min-width: $medium)
        padding: 20px 0 0

    &-image
      display: none
      margin: 0 auto
      max-width: 100%
      max-height: 600px

    &.m-with-image

      .rating-item
        &_cover-image
          display: block

        &_add-image
          width: 100%
          height: 100%
          position: absolute
          top: 0
          left: 0
          border-radius: 0
          border: none
          background-color: $color-3
          opacity: 0
          transform: scale(0)
          color: $white
          font-size: 48px

        &_remove-image
          +remove-image
          position: absolute
          top: 20px
          right: 20px
          margin-right: -60px
          transition: margin 0.2s ease, opacity 0.2s ease, transform 0.2s ease
          opacity: 0

      &:hover
        .rating-item
          &_add-image
            transform: scale(1)
            opacity: 1

          &_remove-image
            margin-right: 0
            opacity: 1

  &_description
    // +rating-editor-content
    margin: 15px 0
    width: 100%
    white-space: pre-wrap
    cursor: pointer
    font-style: normal

    &.m-edit
      resize: none

    &::placeholder
      color: $black-2

    &:focus::placeholder
      color: $black-3

    &-buttons
      display: flex
      justify-content: flex-end

    &-button
      &.m-accept
        +accept
      &.m-cancel
        +alt-cancel

    &-wrapper
      position: relative

  &_actions
    display: flex
    justify-content: center
    font-size: 20px
    padding: 15px 0

  &_button
    display: flex
    align-items: center
    justify-content: center
    flex-flow: row nowrap
    box-shadow: 1px 2px 2px rgba($black, 0.15)
    color: white
    cursor: pointer
    border-radius: 15px
    line-height: 32px
    width: 30px
    height: 30px
    @media screen and (min-width: $big)
      visibility: hidden

    &.m-down
      background: $red

      &:before
        +ion-icon("android-remove")

      &.m-active
        background: $red-2
        cursor: default

    &.m-up
      background: $green

      &:before
        +ion-icon("android-add")

      &.m-active
        background: $green-2
        cursor: default

  &_mark
    font-family: $monospace
    color: $black
    margin: 0 10px
    letter-spacing: 1px
    min-width: 20px
    text-align: center
    position: relative

    &:before
      +ion-icon("stats-bars")
      position: absolute
      top: 0
      left: -30px
      font-size: 28px
      line-height: 30px
      color: $green
      visibility: hidden

      @media screen and (min-width: $big)
        visibility: visible

  &_remove
    color: $black-3
    position: absolute
    font-size: 36px
    top: 38px
    right: 30px
    width: 30px
    height: 30px
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer
    margin-left: -60px
    transition: margin 0.2s ease, opacity 0.2s ease
    opacity: 0

    &:before
      +ion-icon("ios-close-outline")

  &:hover
    .rating-item
      &_remove
        margin-left: 0
        opacity: 1

      &_button
        visibility: visible

      &_mark:before
        visibility: hidden
