.search
  display: flex
  flex-flow: column
  justify-content: center
  align-items: center
  min-height: 100vh
  width: 100%

  &_title
    font-size: 20px
    font-family: $monospace
    text-transform: uppercase
    text-align: center
    width: 100%
    color: $black
    margin-bottom: 10px

  &_input
    display: inline-block
    font-size: 40px
    color: $black
    width: 100%
    text-align: center
    transition: color 0.25s ease
    // margin-top: 40px

    &::placeholder
      color: $black-3
      &:before
        display: inline-block
        font-size: 32px
        line-height: 1.5
        +ion-icon("search")

    &-wrap
      display: flex
      justify-content: center
      width: 100%


  &_results
    display: flex
    flex-flow: column nowrap
    transition: all 1s
    width: 100%

  &_result
    display: flex
    margin-bottom: 2 * $margin
    padding: 10px

    &-image
      background-size: cover
      width: 100px
      height: 100px
      flex-shrink: 0
      margin-right: 2 * $margin

      &.m-user
        border-radius: 50px

    &-content
      width: auto

    &-title
      font-size: 30px
      color: $black
      font-family: $monospace

      &.m-user
        display: flex
        align-items: center

    &-description
      color: $black-2
      font-size: 12px

    &:hover
      background-color: $white
