.similar
  padding: 20px 0

  @media screen and (min-width: $medium)
    padding: 30px 0

  &_title
    font: 24px $serif
    color: $color-1
    margin-bottom: 15px

    @media screen and (min-width: $small)
      font-size: 30px
