.similar
  padding: 15px

  @media screen and (min-width: $small)
    padding: 20px 0

  @media screen and (min-width: $medium)
    padding: 30px 0

  &_title
    font-size: 24px
    font-family: $serif
    color: $color-1
    margin-bottom: 15px

    @media screen and (min-width: $small)
      font-size: 30px
