.tags
  display: flex

  &_tag
    display: block
    font-size: 13px
    color: $black-2
    margin-right: 10px

    &:before
      content: '#'

    &:last-of-type
      margin-right: 0

    &:hover
      color: $black-3
