.toastr
  position: fixed
  bottom: 0
  left: 0
  width: 240px
  z-index: 5

  &_toast
    background: $grey-3
    color: $white
    cursor: pointer
    padding: $margin
    margin: $margin

    @each $type, $color in (success, $green), (error, $red)
      &.m-#{$type}
        background: $color
